/*region general*/
:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
    --main-ff: "Roboto";
    --secondary-ff: "Roboto";
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

body {
    font-family: var(--main-ff), sans-serif;
    font-weight: 700;
    color: var(--slate);
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

/*endregion general*/

/*region header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.logo-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    text-transform: uppercase;
    font-family: var(--secondary-ff), sans-serif;
    letter-spacing: 0.03em;
    color: var(--iris);
    margin-right: 76px;
}

.logo-name-part {
    color: #2E2F42;
}

.nav-item > a {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item > a:hover, a:focus {
    color: #404bbf;
}

.active > a {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active > a::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.contacts-item > a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item > a:hover, a:focus {
    color: #404BBF;
}

.addresses-item {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addresses {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

/*endregion header*/

/*region main*/

/*region hero*/
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    line-height: 107%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    margin: 0 auto 48px auto;
    max-width: 496px;
}

.hero-button {
    background-color: var(--iris);
    font-family: var(--main-ff), sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;
}

/*endregion hero*/

/*region advantages*/
.advantages-header-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 72px) / 4) ;
}

.advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.advantages-icon svg {
    display: block;
    margin: 0 auto;
    fill: var(--iris);
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}


/*endregion advantages*/

/*region team*/

.team {
    background: #F4F4FD;
}

.team-header-title {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4) ;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-info {
    padding: 32px 0
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icon {
    border-radius: 50%;
    background-color: var(--iris);
    padding: 12px;
    display: block;
    cursor: pointer;
}

.team-icon svg {
    fill: var(--cloud);
    display: block;
}

/*endregion team*/

/*region portfolio*/

.team {
    background: #F4F4FD;
}

.portfolio-header-title {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}


.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/*endregion portfolio*/

/*endregion main*/

/*region footer*/

.page-footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-logo-name {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    font-family: var(--secondary-ff), sans-serif;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-name-part {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: var(--secondary-ff), sans-serif;
    color: #F4F4FD;
}

.page-footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}


/*endregion footer*/